
  .team {
    padding: 0 0 50px 0;
    position: relative;
    background-color: black;
  }
  .team-bx {
    background: #151515;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
  }
  
  .team-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .team-slider .item img {
    width: 50%;
    margin: 0 auto 15px auto;
  }
  .team-heading{
    color: white;
    font-size: 40px;
    text-align: center;

  }
  .card {
    position: relative;
    padding: 25px 16px;
    color:white;
    background: linear-gradient(112.37deg, rgba(255, 255, 255, 0.5) -16.71%, rgba(255, 255, 255, 0.25) 69.03%);
    /* background-color: black; */
    opacity: 0.7;
    margin: 57px 24%;
    width: 301px;
      height: 367px;
    /* left: 556px;
      top: 2624px; */
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(7.5px);
      text-align: left;
      border-radius: 15px;
  
      
    }
  @media (min-width:1700px) {
    main .container {
      max-width: 100%;
      padding: 0 150px;
    }
  }