.container {
    position: relative;
}

.team_bg {
    position: relative;
}

.teamH {
    color: white;
    font-weight: bold;
    font-size: 3rem;
    padding-bottom: 20px;
}

.teamRow {
    position: absolute;
    text-align: center;
}

.teamPoster {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 20px;
}

.teamM {
    margin-right: 10px;
    transition: transform 450ms;
    width: 200px;
}

.teamM:hover {
    transform: scale(1.08);
}

.teamMIMG {
    border-radius: 50%;
    border: 5px solid #186F3A;
    width: 100%;
}

.icons {
    display: flex;
    justify-items: center;
    width: 100%;
    padding-top: 5%;

}

.icon {
    width: 100%;
    padding-right: 10%;
    align-items: center;
}