.events{
    margin: 0;
    padding: 0;
}
.event-container{
    margin: 2px;
    padding: 10px;
}
.event-container > h1 {
    margin: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
.box-events {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 12px;
}
.items{
    color: white;
    margin:20px;
    width: 276px;
    height: 276px;
    left: 99px;
    top: 1907px;
    background: linear-gradient(57.01deg, #000000 20.27%, #252525 73.95%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    transition: all 0.3s;
}
.items > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
}
.items > img {
   display:flex;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 130px;
    left: 59px;
    top: 59px;
    
}
.items > p{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
}
.items:hover{
    transform: translateY(-2vh);
    box-shadow: 10px 10px 10px #888888;
    color: white;
}